{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Admin Coti{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Admin Coti</a></h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
  #header {
    background: #fff;
    color: #ce2544;
  }
  #site-name a, #site-name a:visited {
    color: #ce2544;
  }
  #user-tools,
  #user-tools *,
  #user-tools a,
  #user-tools a:link,
  #user-tools a:visited,
  #user-tools button,
  #user-tools select,
  #user-tools option {
    color: #ce2544;
  }
  #user-tools a:hover,
  #user-tools a:focus {
    color: #ce2544;
  }
</style>
{% endblock %}
