/* CotiStore\CotiDjangoFinal\backend\orders\static\admin\orders\order_admin.css */

.js-inline-admin-formset.inline-group {
    overflow-x: auto;
    display: block;
    width: 100%;
}

.inline-group .tabular fieldset.module {
    min-width: 1200px !important; /* Aumentamos para asegurar que entren todas las columnas */
    overflow-x: auto !important;
}

.inline-group .tabular table {
    width: 100% !important;
}

/* Ajustes para las nuevas columnas de atributos */
.column-attr_name_1, .column-attr_value_1 {
    white-space: nowrap !important;
    min-width: 150px !important;
    text-align: left !important;
}
